{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content contact-page">
    <h2>{% trans 'portfolio contact title' %}</h2>
    <form method="post">
        {{ form.non_field_errors }}

        {% csrf_token %}

        <label for="{{ form.name.id_for_label }}">{% trans 'portfolio contact your name' %}</label>
        {{ form.name.errors }}
        {{ form.name }}

        <label for="{{ form.email.id_for_label }}">{% trans 'portfolio contact your email' %}</label>
        {{ form.email.errors }}
        {{ form.email }}

        <label for="{{ form.subject.id_for_label }}">{% trans 'portfolio contact subject' %}</label>
        {{ form.subject.errors }}
        {{ form.subject }}

        <label for="{{ form.message.id_for_label }}">{% trans 'portfolio contact your message' %}</label>
        {{ form.message.errors }}
        {{ form.message }}

        <button type="submit" class="button contact-submit-button">
            <span class="arrow">> </span>
            <span class="label">
                <span>{% trans 'portfolio contact submit' %}</span>
            </span>
        </button>
    </form>
    <hr>
    <div class="email-container">
        <span>{% trans 'portfolio contact email' %}</span>
        <br>
        <a class="link" href="mailto:enzo@enzopb.me">enzo@enzopb.me</a>
    </div>
</div>

{% include 'portfolio/footer.html' %}