{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content home-page">
    <h2>{% trans 'Enzo PB' %}</h2>
    <p>
        {% url 'portfolio:projects' as projects_url %}
        {% blocktrans %}
        Hi, I'm Enzo, a 20-year-old developer. I've been passionate about IT since I was a kid, and I love learning new skills and tools thanks to the <a href="{{ projects_url }}" hx-get="{{ projects_url }}" hx-target="#main" hx-select="#main" hx-swap="outerHTML swap:0.3s settle:0.3s" hx-push-url="true" class="link">projects</a> I've made.
        <br>
        I'm a second-year student in a computer engineering preparatory class at CESI in Bordeaux, and I'm looking for an internship in development starting in april 2024, and an apprentice ship for next year.
        {% endblocktrans %}
    </p>
    <a href="https://github.com/EnzoPB" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>GitHub</span>
            {% component 'svg' src='portfolio/images/github.svg' %}
        </span>
    </a>
    <a href="https://linkedin.com/in/enzopb" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>Linkedin</span>
            {% component 'svg' src='portfolio/images/linkedin.svg' %}
        </span>
    </a>
</div>

{% include 'portfolio/footer.html' %}
