{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content">
    <h2>Hi, I'm Enzo</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur efficitur sem id ipsum molestie interdum. Curabitur dignissim nulla id est euismod, non viverra nulla tincidunt. In efficitur ipsum non arcu laoreet molestie. Aenean vitae fringilla magna. Curabitur consequat sit amet lectus quis volutpat. Integer ut viverra turpis. Cras egestas erat sed metus finibus sodales. Etiam turpis leo, tincidunt nec pellentesque non, imperdiet ac orci. Sed elementum mattis turpis, ac mollis tellus auctor in. Donec mi enim, commodo id varius quis, condimentum nec risus.
    </p>
    <a href="https://github.com/EnzoPB" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>GitHub</span>
            {% component 'svg' src='portfolio/images/github.svg' %}
        </span>
    </a>
    <a href="https://linkedin.com/in/enzopb" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>Linkedin</span>
            {% component 'svg' src='portfolio/images/linkedin.svg' %}
        </span>
    </a>
</div>

{% include 'portfolio/footer.html' %}