{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content home-page">
    <h2>{% trans 'portfolio home title' %}</h2>
    <p>
        {% trans 'portfolio home text' %}
    </p>
    <a href="https://github.com/EnzoPB" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>GitHub</span>
            {% component 'svg' src='portfolio/images/github.svg' %}
        </span>
    </a>
    <a href="https://linkedin.com/in/enzopb" target="_blank" class="button">
        <span class="arrow">> </span>
        <span class="label">
            <span>Linkedin</span>
            {% component 'svg' src='portfolio/images/linkedin.svg' %}
        </span>
    </a>
</div>

{% include 'portfolio/footer.html' %}