{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content project-detail-page">
    <img class="project-image" src="{{ project.image.url }}" alt="">
    <h2>{{ project.title }}</h2>
    <p class="project-full-description">
        {{ project.description }}
    </p>
    <h3>{% trans 'Used technologies & tools' %}</h3>
    <div class="project-techs">
        {% for skill in project.skills.all %}
        <span class="tag">
            <span>{{ skill.name }}</span>
            {% component 'svg' src=skill.icon %}</span>
        {% endfor %}
    </div>
    <h3>{% trans 'Links' %}</h3>
    <div class="project-links">
        {% for link in project.projectlink_set.all %}
        <a href="{{ link.url }}" target="_blank" class="button">
            <span class="arrow">> </span>
            <span class="label">
                <span>{{ link.label }}</span>
                {% component 'svg' src=link.icon %}
            </span>
        </a>
        {% endfor %}
    </div>
</div>

{% include 'portfolio/footer.html' %}