{% load i18n static %}
{% include 'portfolio/header.html' %}

<div class="content projects-page">
    <h2>{% trans 'Projects' %}</h2>
    <div class="projects">
        {% for i in '1234567890123'|make_list %}
        	<a href="{% url 'portfolio:project detail' i %}" hx-get="{% url 'portfolio:project detail' i %}" hx-target="#main" hx-select="#main" hx-swap="outerHTML swap:0.3s settle:0.3s" hx-push-url="true" class="project">
                <img class="project-image" src="https://placehold.co/300x100/EEE/31343C.png" alt="Project #{{ i }}">
                <div class="project-body">
                    <h3 class="project-title">Project #{{ i }}</h3>
                    <p class="project-description">ezofnezg eobgr ehozfeu gehu zhgzo gezi ezh</p>
                </div>
            </a>
        {% endfor %}

    </div>
</div>

{% include 'portfolio/footer.html' %}