.project-detail-page
  width: 80%!important
  align-self: normal!important
  overflow-y: auto

.project-full-description
  text-align: justify

.project-techs
  &> .tag:not(:first-child)
    margin-left: 10px
  &> *
    vertical-align: middle