.skills-page
  align-self: normal!important
  width: 90%

  .categories
    h3
      text-align: left
      margin-bottom: 5px
    .skills
      text-align: left
      .skill
        display: inline-block
        margin-bottom: 5px
        @media (max-width: screen.$breakpoint-medium)
          position: initial
          .tooltip
            top: 0
            width: 100%
            bottom: initial